<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>

	<!--/* Insert content fragment with content of the element with id = 'task-details' */-->
	<div layout:fragment="app-content">
		<h1>Entry Statistics:</h1>
		<div class="row">
			<span class="col-sm-2"> Overall:</span> <span class="col-sm-3"><span
				th:text="${report.overallPresent}"></span>/<span
				th:text="${report.overallPossible}"></span></span>

		</div>
		<div class="row">
			<span class="col-sm-2">Rational:</span><span class="col-sm-3"
				th:text="${report.overallPercent}+'%'"></span>
		</div>
		<div class="row">
			<span class="col-sm-2"> Retreat:</span> <span
				th:text="${report.retreatList.size()}"></span>
		</div>
		<div class="row">
			<span class="col-sm-2"> Check:</span> <span
				th:text="${report.checkList.size()}"></span>
		</div>
		<h1>Retreat History:</h1>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr th:if="${report.retreatList.empty}">
					<td colspan="1">No retreat history</td>
				</tr>
				<tr th:each="record : ${report.retreatList}">
					<td th:text="${record}">1</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h1>Check History:</h1>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr th:if="${report.checkList.empty}">
					<td colspan="1">No retreat history</td>
				</tr>
				<tr th:each="record : ${report.checkList}">
					<td th:text="${record}">1</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h1>Block Report</h1>
		<form method="GET" th:object="${report}" id="blockForm">
			<select th:field="*{blockId}" id="blockSelect">
				<option value="">--</option>
				<option th:each="block : ${blockList}" th:value="${block.id}"
					th:text="${block.name}">bname</option>
			</select>
		</form>
		<button th:if="${!report.recordListForBlock.empty}"
			class="btn btn-lg btn-primary btn-block" name="export" id="export">export
		</button>
		<div th:if="${!report.recordListForBlock.empty}"
			style="margin-top: 3px; margin-bottom: 3px">
			<div class="row">
				<span class="col-sm-2"> Overall:</span> <span class="col-sm-3"><span
					th:text="${report.present}"></span>/<span
					th:text="${report.possible}"></span></span>

			</div>
			<div class="row">
				<span class="col-sm-2">Rational:</span><span class="col-sm-3"
					th:text="${report.percent}+'%'"></span> <span class="col-sm-2">Score:</span><span
					class="col-sm-3" th:text="${report.score}"></span>
			</div>
		</div>
		<table class="table table-bordered table-striped"
			th:if="${report.blockId!=null}" id="dataSource">
			<tbody>
				<tr th:if="${report.recordListForBlock.empty}">
					<td colspan="2">No Block Report</td>
				</tr>
				<tr th:each="record : ${report.recordListForBlock}">
					<td th:text="${record.date}">1</td>
					<td th:text="${record.taken}">1</td>
				</tr>
			</tbody>
		</table>
		<script>
			$(function() {
				$("#blockSelect").change(function() {
					$('#blockForm').submit();
				})
			})
		</script>
	</div>
</body>
</html>
