<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>

	<!--/* Insert content fragment with content of the element with id = 'task-details' */-->
	<div layout:fragment="app-content">
		<div id="task-details">
			<div id="global">
				<form action="search" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<fieldset>
						<legend>Search List</legend>
						<input type="text" placeholder="mm/dd/yyyy" name="startDate" /> <input
							type="text" placeholder="mm/dd/yyyy" name="endDate" />
						<p id="buttons">
							<input id="submit" type="submit" tabindex="5" value="Search">
						</p>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
